body{
    margin: 0;
}

html{
    background: linear-gradient(white ,cyan , blue);
}

.title{
    text-align: center;
    color: rgb(46, 13, 192);
    margin-top: 40px;
    margin-right: 230px;
    margin-left: 230px;
    font-family: Akronim ;
    font-size: 200%;
}
.flip-card{
    height: 300px;
    width: 180px;
    }
.flip-card-inner{
    width: auto;
    height: auto;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .front{
    opacity: 0;
}
.front{
    z-index: 1;
    position: absolute;
    width: auto;
    height: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.back{
    position: absolute;
    text-align: center;
}

#BTitle{
    font-family: Akronim;
    font-size: 150%; 
}
.BigTall{
    font-size: 125%;
    
}
table{
    margin: auto;
}
.small{width: auto;height: auto;}
.medium{width: 250px;height: 250px;}
.large{width: 500px;height: 500px;}


.container {
  position: relative;
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(156, 20, 184);
}
.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text1 {
  color: white;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

