body{
    margin: 0;
}

html{
    background: linear-gradient(white ,cyan , blue);
}
.Font{
    font-family: Akronim;
    color: magenta;
}
.premierTable{
    float: left;
    float: bottom;
    margin-left: 0;
    margin-bottom: 200px; 
}
#descdarwin{
    float: bottom;
}
.title{
    text-align: center;
    color: rgb(46, 13, 192);
    margin-top: 40px;
    margin-right: 230px;
    margin-left: 230px;
    font-family: Akronim ;
    font-size: 200%;
}
div{
    width: 180px;
    height: 250px;
    animation: infinite;
    animation-name: example;
    animation-duration: 27s;
}
@-webkit-keyframes example {

  0%   {background-image: url("../images/D.Game01.png")}
  5%   {background-image: url("../images/D.Game02.png")}
  10%   {background-image: url("../images/D.Game03.png")}
  15%   {background-image: url("../images/D.Game04.png")}
  20%   {background-image: url("../images/D.Game05.png")}
  25%   {background-image: url("../images/D.Game06.png")}
  30%   {background-image: url("../images/D.Game07.png")}
  35%   {background-image: url("../images/D.Game08.png")}
  40%   {background-image: url("../images/D.Game09.png")}
  45%   {background-image: url("../images/D.Game10.png")}
  50%   {background-image: url("../images/D.Game11.png")}
  55%   {background-image: url("../images/D.Game12.png")}
  60%   {background-image: url("../images/D.Game13.png")}
  65%   {background-image: url("../images/D.Game14.png")}
  70%   {background-image: url("../images/D.Game15.png")}
  75%   {background-image: url("../images/D.Game16.png")}
  80%   {background-image: url("../images/D.Game17.png")}
  85%   {background-image: url("../images/D.Game18.png")}
  90%   {background-image: url("../images/D.Game01.png")}
  95%   {background-image: url("../images/D.Game01.png")}
  100%   {background-image: url("../images/D.Game01.png")}
}
#BTitle{
    font-family: Akronim;
    font-size: 150%; 
    margin: auto;
}
.BigTall{
    font-size: 125%;
    
}
.videomargin{
    margin-left: 300px;
}
.small{width: auto;height: auto;}
.medium{width: 250px;height: 250px;}
.large{width: 500px;height: 500px;}