body{
    margin: 0;
}

html{
    background: linear-gradient(white ,cyan , blue);
}

.title{
    text-align: center;
    color: rgb(46, 13, 192);
    margin-top: 40px;
    margin-right: 230px;
    margin-left: 230px;
    font-family: Akronim ;
    font-size: 200%;
}

#BTitle{
    font-family: Akronim;
    font-size: 150%; 
}
.BigTall{
    font-size: 125%;
    
}
table{
    margin: auto;
}
.small{width: auto;height: auto;}
.medium{width: 250px;height: 250px;}
.large{width: 500px;height: 500px;}


.flip-card {
    background-color: transparent;
    width: 190px;
    height: 320px;
    border: 1px solid transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.2s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(540deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color:transparent;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(207, 24, 207);
    color: white;
    text-align: center;
    transform: rotateY(540deg);
  }